.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-size: 14px;
    text-align: center;
    border: 1px solid black;
}

.table thead {
    background-color: black;
    color: white;
    text-transform: uppercase;
}

.table th,
.table td {
    padding: 6px 5px;
    border: 1px solid black;
}
